<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Quotes</title>
    </head>
    <body>
        <h1>Welcome to QuotingDojo</h1>
        <form action="/quotes" method="post">
            Your name: <input type="text" name="name"><br>
            Your quote: <textarea name="quote" rows="8" cols="80"></textarea><br>
            <input type="submit" name="submit">
        </form>
        <a href="/quotes">Go To Quotes</a>
    </body>
</html>
